* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/*debut header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 18vh;
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  background-color: aquamarine;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#apropos a {
  color: #968ac9;
  font-weight: bolder;
}

/*fin header*/

/* BLOC BIENVENUE */

#bienvenue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bienvenue img:nth-child(2) {
  width: 30%;
}

h1 {
  font-family: "Abril Fatface";
  color: #d9597b;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

#bienvenue_texte {
  border: 1px solid red;
  padding-left: 2em;
  width: 60%;
}

#bienvenue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bienvenue img:nth-child(2) {
  width: 30%;
}

#bienvenue_texte p {
  padding-bottom: 2em;
}

#bienvenue_texte img {
  width: 1em;
  height: 1em;
}

#bienvenue_texte a {
  color: white;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;
  border: 1px solid red;
}

#bienvenue a:first-of-type {
  background-color: #00aee9;
}

#bienvenue a:nth-of-type(2) {
  background-color: #007fb7;
}

#bienvenue a:nth-of-type(3) {
  background-color: black;
}
