* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
  margin-bottom: 10%;
}

h1 {
  font-size: 2em;
  font-family: "Abril Fatface";
  color: #d9597b;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}






/*-------------------------------------------------------------------------HEADER-------------------------------------------------------------------------*/


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 18vh;
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#apropos a {
  color: #968ac9;
  font-weight: bolder;
}




/*------------------------------------------------------------- #A PROPOS 1  ----------------------------------------------------------------------------*/


h1 {
  text-align: center;
  margin-bottom: 2.5em;
}

#apropos1 img {
  width: 100%;
  display: block;
  margin: auto;
  padding-bottom: 5em;
}




/* ----------------------------------------------------------------#A PROPOS 2---------------------------------------------------------------------------- */




#apropos2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;

}

#bloc_apropos2 {
  width: 30%;
}


#apropos2 img {
  width: 40%;
  border-radius: 20px;
}

#apropos2 h2 {
  padding-bottom: 1em;
}



/*------------------------------------------------------------------A PROPOS 3-------------------------------------------------------------------------------*/




#apropos3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
}

#bloc_apropos3 {
  width: 30%;
}


#apropos3 img {
  width: 40%;
  border-radius: 20px;
}

#apropos3 h3 {
  padding-bottom: 1em;
}