* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/*debut header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 18vh;
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  background-color: aquamarine;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#apropos a {
  color: #968ac9;
  font-weight: bolder;
}

/*fin header*/
