* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}

h1 {
  font-size: 2em;
  font-family: "Abril Fatface";
  color: #D9597B;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/*debut header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 18vh;
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  background-color: aquamarine;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#contact a {
  color: #968ac9;
  font-weight: bolder;
}

/*fin header*/


main img:first-of-type {
  height: 1000px;
  width: 100%;
  margin-top: 50px;
}

main h1, main h2, main h3 {
  /* margin-top: 50px;
  margin-bottom: 50px; = */
  margin: 50px 0;
}

#blog1 p:not(:last-child), #blog2 p:not(:last-child), #blog3 p:not(:last-child) {
  margin-bottom: 25px;
}

main p {
  text-align: justify;
}

/* BLOC BIENVENUE */

#bienvenue {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

#bienvenue img:nth-child(2) {
  width: 22%;
}


#bienvenue_texte h2 {
  color: #D9597B;
}

#bienvenue_texte {
  width: 56%;
  display:flex;
  flex-direction: column;
}

#bienvenue_texte p {
  margin-bottom: 80px;
  margin-top: 20px;
}




/* LOGO RESEAUX SOCIAUX DANS LES BOUTONS */

#bienvenue_texte img {
  width: 1em;
  height: 1em;
}










/* BOUTONS */

#button {
  display: flex;
  flex-direction: row;
}

#bienvenue_texte a {
  color: white;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;

}

#bienvenue a:first-of-type {
  background-color: #00AEE9;
}

#bienvenue a:nth-of-type(2) {
  background-color: #007FB7;
}

#bienvenue a:nth-of-type(3) {
  background-color: black;
}