* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}

h1 {
  font-size: 2em;
  font-family: "Abril Fatface";
  color: #d9597b;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/*debut header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

nav a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#contact a {
  color: #968ac9;
  font-weight: bolder;
}

/*fin header*/

main img:first-of-type {
  height: 1000px;
  width: 100%;
  margin-top: 50px;
}

main h1,
main h2,
main h3 {
  /* margin-top: 50px;
  margin-bottom: 50px; = */
  margin: 50px 0;
}

#blog1 p:not(:last-child),
#blog2 p:not(:last-child),
#blog3 p:not(:last-child) {
  margin-bottom: 25px;
}

main p {
  text-align: justify;
}

/* BLOC BIENVENUE */

footer {
  /* margin-bottom: 50px; */
  margin-bottom: 18vh;
}

#bienvenue {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
}

#bienvenue img:nth-child(2) {
  width: 22%;
}

#bienvenue_texte h2 {
  color: #d9597b;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 2em;
}

#bienvenue_texte {
  width: 56%;
  display: flex;
  flex-direction: column;
}

#bienvenue_texte p {
  margin-bottom: 80px;
  margin-top: 20px;
}

/* LOGO RESEAUX SOCIAUX DANS LES BOUTONS */

#bienvenue_texte img {
  width: 1em;
  height: 1em;
  padding-right: 2em;
}

/* BOUTONS */

#button {
  display: flex;
  flex-direction: row;
}

#bienvenue_texte a {
  color: white;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-right: 1em;
}

#bienvenue a:first-of-type {
  background-color: #00aee9;
}

#bienvenue a:nth-of-type(2) {
  background-color: #007fb7;
}

#bienvenue a:nth-of-type(3) {
  background-color: black;
}