* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
}

/*debut header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 18vh;
  font-family: "Abril Fatface", serif;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  background-color: aquamarine;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: #968ac9;
  font-weight: bolder;
}

#contact a {
  color: #968ac9;
  font-weight: bolder;
}

/*fin header*/

/*Début id form*/
#form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form img {
  height: 500px;
  /* background-color: blue; */
}

#right-form {
  display: flex;
  flex-direction: column;
}

#form h1 {
  margin-bottom: 25px;
}

input {
  border: none;
  margin-bottom: 25px;
  font-size: large;
  width: 400px;
  border-bottom: 1px solid black;
}

textarea {
  font-size: large;
  height: 100px;
  width: 400px;
}

button {
  border: none;
  padding: 1em;
  margin-top: 2em;
  background-color: #968ac9;
}

button:hover {
  background-color: white;
}

/*Début id contact*/

#contact_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}

button {
  margin-top: 10px;
}

.contact {
  /* background-color: #968ac9; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* Chercher convertisseur px en rem pour le responsive */